*{
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}


.HomeWrapper{
  height: 100svh;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth;
  background:#202020;
  color:#A9A9A9;
  overflow-y: auto;
  scrollbar-width: none;
}
.nav-link{
  transition: color 0.2s ease-in-out;
}

.nav-link :hover{
  color: #E95420;
  transition: color 0.2s ease-in-out,
}

.animeIcon{
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}